
.animations{
    &-transition{
        position: relative;
           background-color: linear-gradient(135deg, #7e3087, #e5213c, #ee5c27, #e5213c, #7e3087);
        background-size: 130% 130%;
        
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-iteration-count: 1;
        
    -webkit-animation: example 4s ease 1;
    -moz-animation: example 4s ease 1;
    -o-animation: example 4s ease 1;
    animation: example 8s ease 1;
    
    }
    
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes example {
        0%{background-position:0% 0%}
        100%{background-position:100% 100%}
    }
    
    /* Standard syntax */
    @keyframes example {
        0%{background-position:0% 0%}
        100%{background-position:100% 100%}
    }
    &-main{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(135deg, #7e3087, #e5213c, #ee5c27);
        background-size: 130% 130%;
        
        -webkit-animation-name: main-animation; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
        -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
        animation-name: main-animation;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        
        -webkit-animation: main-animation 8s ease infinite;
        -moz-animation: main-animation 8s ease infinite;
        -o-animation: main-animation 8s ease infinite;
        animation: main-animation 8s ease infinite;
    
    }
    
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes main-animation {
        0%{background-position:0% 0%}
        50%{background-position:100% 100%}
        100%{background-position:0% 0%}
    }
    
    /* Standard syntax */
    @keyframes main-animation {
        0%{background-position:0% 0%}
        50%{background-position:100% 100%}
        100%{background-position:0% 0%}
    }
}