.question{
    position: absolute;
    color: white;
    text-align: center;
    text-shadow: (0px 0px 20px black);
    left: 20%;
    top: 5%;
    width: 60%;
    height: 15%;
    font-size: 2rem;
    font-weight: bold;
    z-index: 100;
    pointer-events: none;

}
.arrow{
    background-size: contain;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: opacity 0.8s ease-in-out;
    z-index: 10;
  
}
.trapezoid{
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: 0;
    transition: opacity 0.8s ease-in-out;
    background: linear-gradient(135deg, #e5213c, #ee5c27);
}

.container {
    width: 100%;
    height: 100%;
    top:-20%;
    overflow: hidden;
    pointer-events: none;

    &-left {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-blend-mode: multiply;
        transition: opacity 0.8s ease-in-out;
        transition: background-color 0.6s ease-in-out;
        pointer-events: none;

        @media (min-width: 1224px) {
            width: 50%;
            height: 100%;
        }
    }
    &-right {
        position: absolute;
        top: 50%;
        right: 0%;
        width: 100%;
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-blend-mode: multiply;
        transition: background-color 0.6s ease-in-out;
        pointer-events: none;

        @media (min-width: 1224px) {
            top: 0;
            height: 100%;
            width: 50%;
        }
    }
}

.wrapper{
    display: flex;
    flex-direction: column-reverse;

    &-left {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        cursor: pointer;
        z-index: 10;
        transition: ease .1s;
        -webkit-transition: ease .1s;
        -moz-transition: ease .1s;
        -ms-transition: ease .1s;
        -o-transition: ease .1s;

        @media (min-width: 1224px) {
            width: 50%;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &-right {
        position: absolute;
        right: 0;
        top: 50%;
        width: 100%;
        height: 50%;
        cursor: pointer;
        z-index: 10;
        transition: ease .1s;
        -webkit-transition: ease .1s;
        -moz-transition: ease .1s;
        -ms-transition: ease .1s;
        -o-transition: ease .1s;


        @media (min-width: 1224px) {
            top: 0;
            width: 50%;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

}

.quote{
    font-family: 'proxima_nova_rgregular';
    color: white;
    text-shadow: (0px 0px 20px black);
    margin-bottom: 25%;
    width: 80%;
    z-index: 400;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    pointer-events: none;

    &-right{

      margin-bottom: -25%;
    }
}

.option-select {
    position: absolute;
    width: 260px;
    top: 50px;
    left: 50%;
    margin-left: -130px;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;

    @media (min-width: 1224px) and (max-width: 1366px)  {
        top: 85px;
        font-size: 1rem;

    }

    @media (min-width: 1367px)  {
        top: 145px;
        font-size: 1rem;
    }

}
