<div [@dropIntro]="dropIntro" class="trapezoid"></div>

<span [@question]="questionState" class="question" [innerHtml]="questionObject.question"></span>

<div class="container-left" id="option1" [style.background-image]="'url(' + image1 + ')'" [style.background-color]="leftBlendColor" ></div>
  <div class="wrapper-left" (click)="selectOptionA(questionObject.options[0])" (mouseover)="hoverLeft()" (mouseleave)="setInitialImagens()">
      <div [@arrowAcontainer]="arrowAcontainer" class="arrow">
        <lottie-animation-view
          [options]="arrowAnimationConfigALoop"
          (animCreated)="handleArrowALoop($event)">
        </lottie-animation-view>
      </div>
    <span [@leftQuote]="leftQuoteState" class="quote">
      {{questionObject.options[0].answer}}
    </span>
  </div>
<div class="container-right" id="option2" [style.background-image]="'url(' + image2 + ')'" [style.background-color]="rightBlendColor" ></div>
  <div class="wrapper-right" (click)="selectOptionB(questionObject.options[1])" (mouseover)="hoverRight()" (mouseleave)="setInitialImagens()">
    <div [@arrowBcontainer]="arrowBcontainer" class="arrow">
        <lottie-animation-view
          [options]="arrowAnimationConfigBLoop"
          (animCreated)="handleArrowBLoop($event)">
        </lottie-animation-view>
    </div>
    <span [@rightQuote]="rightQuoteState" class="quote">
      {{questionObject.options[1].answer}}
    </span>
  </div>
