
<div class="trapezoid"></div>


<div class="animationSpliter">
  <lottie-animation-view 
    [options]="animationConfig"
    (animCreated)="handleAnimation($event)">
  </lottie-animation-view>
</div>