<div class="backFrame">
  <div class="skipDiv" id="skipDiv" #skipDiv>
    <span class="skipSpan"> Prosseguir </span>
    <div class="skipButton" id="skipButton" (click)="skipIt()">
      <lottie-animation-view
        [options]="animationConfigSkip"
        (animCreated)="handleSkip($event)">
      </lottie-animation-view>
    </div>
  </div>
  <div class="nextDiv" id="nextDiv" #nextDiv>
    <span class="nextSpan"> Continuar </span>
    <div class="nextButton" id="nextButton" (click)="proceed()">
      <lottie-animation-view
        [options]="animationConfigNext"
        (animCreated)="handleNext($event)">
      </lottie-animation-view>
    </div>
  </div>
  <div class="startDiv" id="startDiv" #startDiv>
    <span class="startSpan" id="startSpan"> Vamos a isto! </span>
    <div class="startButton" id="startButton" (click)="startRouter()">
      <lottie-animation-view
        [options]="animationConfigStart"
        (animCreated)="handleStart($event)">
      </lottie-animation-view>
    </div>
  </div>
  <iframe class="videoFrame" src="//player.vimeo.com/video/265190818?background=1&loop=0&muted=0" id="video" webkitallowfullscreen mozallowfullscreen allowfullscreen #introVideo></iframe>
</div>
