.videoFrame{
  position: absolute;
  border: 0;
  height: 100%;
  width: 90%;
  margin: 0 5%;
    @media (min-width: 1367px) {
      width: 80%;
      margin: 0 10%;
  }
    @media (min-width: 1900px) {
      width: 80%;
      margin: 0 10%;
  }
}

.backFrame{
  position: absolute;
  background-color: #DE0048;
  background-size: 100%;
  width:100%;
  height:100%;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}

.skipDiv{
    opacity: 0;
    width: 7.5%;
    right: 0%;
    bottom: 5%;
    position: absolute;
    cursor: pointer;
    z-index: 500;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    .skipButton{
      position: absolute;
      bottom: 30%;
      transform: rotate(-90deg);

      @media (min-width: 1367px) {
        width: 90%;
        right: -5%;
      }
    }

    .skipSpan {
      position: absolute;
      right: 22.5%;
      bottom: 20%;
      font-family: 'proxima_novasemibold';
      color: white;
      font-size: 1rem;
    }
}

.dropIntro{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #DE0048;
  background-size: 100%;
  width:95%;
  height:100%;
  transition: opacity 1s ease-in-out;
}

.nextDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

  .nextButton{
      opacity: 1;
      width: 15%;
      right: 20%;
      bottom: 35%;
      transform: rotate(-90deg);
      position: absolute;
      cursor: auto;
      pointer-events: none;
      transition: opacity 0.5s ease-in-out;
  }

  .nextSpan {
    position: absolute;
    right: 22.5%;
    bottom: 35%;
    font-family: 'proxima_novasemibold';
    color: white;
    font-size: 1rem;
    transition: opacity 0.5s ease-in-out;

    @media (min-width: 1224px) {
      font-size: 2rem;
    }
  }
}

.startDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

  .startButton{
      opacity: 1;
      width: 20%;
      right: 30%;
      bottom: 30%;
      position: absolute;
      cursor: auto;
      pointer-events: none;
      transition: opacity 0.5s ease-in-out;
  }

  .startSpan {
    position: absolute;
    right: 50%;
    bottom: 47.5%;
    font-family: 'proxima_novasemibold';
    color: white;
    font-size: 1rem;
    transition: opacity 0.5s ease-in-out;

    @media (min-width: 1224px) {
      font-size: 3rem;
    }
  }
}
