<div class="image-background" [style.background-image]="'url(' + questionObject.options[0].image + ')'">
  <div class="crop-container">
    <div class="animation-container">
        <div [@dropIntro]="dropIntro" class="trapezoid"></div>        
      <!-- <lottie-animation-view [options]="backgroundAnimationConfig" (animCreated)="handleAnimation($event)">
      </lottie-animation-view> -->
    </div>
  </div>

  <span [@question]="questionState" class="question" [innerHtml]="questionObject.question"></span>

  <!-- <span [@selectOption]="selectOptionState" class="option-select" [innerHtml]="userQuestions.common.selectOption"></span> -->

  <div (click)="selectOptionA(questionObject.options[0])" [@firstOption]="firstOptionState" class="option option-first" [innerHtml]="questionObject.options[0].answer"></div>

  <div (click)="selectOptionB(questionObject.options[1])" [@secondOption]="secondOptionState" class="option option-second" [innerHtml]="questionObject.options[1].answer"></div>

</div>