.container{
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
}

.progress-line-bar {
    position: relative;
    z-index: 800;
    list-style: none;
    text-align: center;
    transition: 2s ease-in;
    padding: 0;
    top: 40%;
    left: 5px;
    background: rgba(255,255,255,0.2);
    width: 8px;
    border-radius: 3px;
    display: none;

    @media (min-width: 1224px) {
        left: 20px;
        display: block;
    }

    &-circle {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        transition: 300ms 0s ease-in-out;

        @media (min-width: 1224px) {
            width: 8px;
            height: 8px;
        }

    }

    &-message {
        position: absolute;
        top:0;
        left: 10px;
        background-color: white;
        border-radius: 5px 5px 5px 0;
        padding: 15px 10px 0 10px;
        width: 160px;
        height: 80px;
        transition: 300ms 0s ease-in-out;
        color:#E64C0A;
        font-size: 0.8rem;
        text-align: left;

    }

}

.back{
  position: absolute;
  font-family: 'proxima_novasemibold';
  color: white;
  font-size: 2rem;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  margin-left: 5%;
  margin-top: 5%;
  z-index: 900;
  cursor: pointer;
        @media (min-width: 1367px) {
        // top: -360%;
        }
}
