<div class="container">
  <div [@backButton]="backButton" class="back" (click)="back()" id="backButton" *ngIf="currentStep > 1 && isComponent"> < VOLTAR</div>
  <div *ngIf="currentStep > 1 && isComponent" [@progressBar]="progressBarState" class="progress-line-bar" [ngStyle]="{ height: barHeight }">
    <span class="progress-line-bar-circle" [ngStyle]="{ top: currentPosition }" ></span>
    <span [@progressBarMessage]="progressBarMessageState" [hidden]="!progressMessage" class="progress-line-bar-message" [innerHtml]="progressMessage" [ngStyle]="{ top: messagePosition }"></span>
  </div>
</div>
