<div class="align">
  <app-progress-bar class="align-item"></app-progress-bar>
  <router-outlet class="router"></router-outlet>
</div>

<div class="audio-control">
  <img *ngIf="isPlaying" (click)="toggleSound()" src="./assets/speaker-on.svg" alt="">
  <img *ngIf="!isPlaying" (click)="toggleSound()" src="./assets/speaker-off.svg" alt="">
</div>
