.align {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #e5213c;

    &-item{
        align-self:center;
    }

}
.router{
  background-color: #e5213c;
}
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.audio-control {
    position: absolute;
    top: 10px;
    right: 10px;

    img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}

.animations{
    &-transition{
        position: relative;
           background-color: linear-gradient(135deg, #7e3087, #e5213c, #ee5c27, #e5213c, #7e3087);
        background-size: 130% 130%;

        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-iteration-count: 1;

    -webkit-animation: example 4s ease 1;
    -moz-animation: example 4s ease 1;
    -o-animation: example 4s ease 1;
    animation: example 8s ease 1;

    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes example {
        0%{background-position:0% 0%}
        100%{background-position:100% 100%}
    }

    /* Standard syntax */
    @keyframes example {
        0%{background-position:0% 0%}
        100%{background-position:100% 100%}
    }
    &-main{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(135deg, #7e3087, #e5213c, #ee5c27);
        background-size: 130% 130%;

        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-iteration-count: 1;

        -webkit-animation: example 4s ease 1;
        -moz-animation: example 4s ease 1;
        -o-animation: example 4s ease 1;
        animation: example 8s ease 1;

    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes example {
        0%{background-position:0% 0%}
        100%{background-position:100% 100%}
    }

    /* Standard syntax */
    @keyframes example {
        0%{background-position:0% 0%}
        100%{background-position:100% 100%}
    }
}
