
<div class="trapezoid">
      <div class="form-login">
        <h4>Nuvi Group</h4>
        <input type="text" id="userName" class="form-control" placeholder="Utilizador"/>
        <input type="email" id="userEmail" class="form-control" placeholder="E-mail"/>
        <div class="group-btn" (click)="auth()"> Aceder </div>
      </div>
</div>
