.trapezoid{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e5213c;
}

.snack-bar-container{
    background-color: white;
    color: white;
}

.form-login {
    font-family: 'proxima_nova_rgregular';
    width: 35vw;
    justify-content: center;
    align-items: center;
    color: #e5213c;
    background-color: white;
    padding: 2.5%;
    border-radius: 5px;
}

.group-btn{
    background-color: #e5213c;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 3%;
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
}

.form-control{
    width: 50%;
    color: #e5213c;
    margin-top: 2.5%;
    padding: 3%;
    border-radius: 5px;
    border-color: transparent;
    border-bottom:{ color:#e5213c};
}

::placeholder {
    font-family: 'proxima_nova_rgregular';
    color: #e5213c;
    font-weight: bold;
}

.form-control:focus {
    outline: 1px transparent;
}
