.trapezoid{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: 0;
}

.backAnim{
    opacity: 1;
    position: absolute;
    width: 150%;
    top: 0%;
    left: 0%;
    z-index: 1;
    @media (min-width: 1224px) {
      width: 60%;
      top: -20%;
      left: 40%;
    }
}

.graphics{
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 25%;
    left: 10%;
    z-index: 5;
    transition: opacity 0.8s ease-in-out;

    @media (min-width: 1224px) {
      top: 0%;
      left: 30%;
    }
    @media (min-width: 1367px) {
      top: -5%;
      height: 110%;
    }

}

.progressMessage{
    opacity: 1;
    z-index: 99;
    color: white;
    position: absolute;
    top: 50%;
    right: -80%;
    width: 60%;
    font-family: 'proxima_nova_ltlight';
    font-size: 0.8rem;

      @media (min-width: 1224px) {
      width: 35%;
      top: 0;
      right: -30%;
      font-size: 1.3rem;
      }
}

.results {
    position: absolute;
    left: 5%;
    top: 10%;
    color: white;
    width: 50%;
    z-index: 4;
    transition: opacity 0.8s ease-in-out;

      &-model{
          display: block;
          width: 80%;
          font-size: 2rem;
          font-family: 'proxima_nova_rgbold';
          margin: 5px 0;
          text-transform: uppercase;
          white-space: pre-wrap;

          @media (min-width: 1224px) {
            font-size: 3rem;
          }
      }

      &-title {
          display: block;
          width: 80%;
          font-size: 1.2rem;
          font-family: 'proxima_nova_ltlight';
          margin: 0px 0 30px;
          white-space: pre-wrap;

          @media (min-width: 1224px) {
            font-size: 1.8rem;
          }
      }

      &-line {
          display: block;
          width: 100%;
          font-size: 1rem;
          margin: 10px 0;
          white-space: pre-wrap;

          @media (min-width: 1224px) {
          font-size: 1.5rem;
          }
      }
    }

.imageBG{
    position: absolute;
    height: 60%;
    right: -10%;
    bottom: 10%;
    @media (min-width: 1224px) {
      height: 80%;
      right: 10%;
      bottom: 20%;
    }
}

.logoNuvi{
    position: absolute;
    width: 40%;
    top: 150%;
    @media (min-width: 1367px) {
      top: 210%;
    }
}

.iconNuvi{
    position: absolute;
    width: 45%;
    top: 55%;
    right: 50%;
    z-index: 10;
    transition: opacity 0.8s ease-in-out;


    @media (min-width: 1224px) {
      width: 15%;
      height: 45%;
      top: 75%;
      right: 77.5%;
    }

    @media (min-width: 1367px) {
      left: 7%;
      top: 60%;
    }
    .clickMe{
        position: absolute;
        transform:  rotate(180deg);
        font-family: 'proxima_novasemibold';
        font-size: 1.3rem;
        text-align: center;
        width: 65%;
        top: 60%;
        right: 16%;
        background-color: white;
        padding: 2%;
        cursor: pointer;

        @media (min-width: 1224px) {
          top: 44.5%;
        }

        @media (min-width: 1367px) {
          width: 55%;
          height: 7%;
          top: 42%;
          left: 20%;
        }
    }
}

.profile {
    position: absolute;
    left: 5%;
    top: 5%;
    color: white;
    width: 90%;
    transition: opacity 0.8s ease-in-out;

    @media (min-width: 1224px) {
        left: 10%;
        top: 12%;
        width: 60%;
    }

    &-title {
        display: block;
        width: 100%;
        font-family: 'proxima_novasemibold';
        font-size: 1rem;

        @media (min-width: 1224px) {
            font-size: 1.5rem;
        }
    }

    &-archetype1 {
        display: block;
        width: 100%;
        font-size: 2rem;
        font-family: 'proxima_nova_rgbold';
        margin: 10px 0;
        white-space: pre-wrap;

        @media (min-width: 1224px) {
            font-size: 3rem;
            margin: 20px 0 30px 0;
        }
    }

    &-archetype2 {
        display: block;
        width: 100%;
        font-size: 1rem;
        margin: 10px 0;
        white-space: pre-wrap;

        @media (min-width: 1224px) {
            font-size: 1.5rem;
            margin: 20px 0 30px 0;
        }
    }


    &-archetype3 {
        display: block;
        width: 100%;
        font-size: 1rem;
        font-family: 'proxima_nova_rgbold';
        margin: 10px 0;
        white-space: pre-wrap;

        @media (min-width: 1224px) {
            font-size: 1.5rem;
            margin: 20px 0 30px 0;
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 1224px) {
            flex-direction: row;
        }
    }

    &-message {
        font-family: 'proxima_nova_ltlight';
        font-size: 0.8rem;
        width: 100%;

        @media (min-width: 1224px) and (max-width: 1366px) {
            font-size: 1rem;
            width: 45%;
        }

        @media (min-width: 1367px) {
            font-size: 1.4rem;
            width: 45%;
        }

    }

    &-words {
        width: 100%;
        align-self: flex-start;
        margin-top: 5vh;

        @media (min-width: 1224px) {
            width: 45%;
            margin-top: 0;
        }

        ul {
            padding: 0;
            list-style: none;
            margin: 0;

            li {
                color: white;
                display: block;
                width: 100%;
                font-family: 'proxima_nova_rgbold';
                font-size: 1.2rem;
                text-transform: lowercase;

                @media (min-width: 1224px) and (max-width: 1366px) {
                    font-size: 2rem;
                }

                @media (min-width: 1367px) {
                    font-size: 3rem;
                    margin-bottom: 15px;
                }
            }
        }
    }

    &-image {
        position: absolute;
        right: 0;
        bottom: -5%;
        width: 90%;
        text-align: right;

        img {
            height: 60vh;
        }

        @media (min-width: 1224px) {
            width: 50%;

            img {
                height: 90vh;
            }
        }

    }
}
