
<div [@dropIntro]="dropIntro" class="trapezoid" [style.background]="backColor">
  <img [@bgImage]="bgImage" class="imageBG" src="{{backImage}}">
  <div [@bgAnim]="bgAnim" class="backAnim" *ngIf="backAnimationConfig">
    <lottie-animation-view
      [options]="backAnimationConfig"
      (animCreated)="handleBack($event)">
    </lottie-animation-view>
  </div>
</div>

<div [@iconNuvi]="iconNuvi" class="iconNuvi" [style.color]="fontColor">
  <div class="clickMe" (click)="seeResult()">Ver resultado</div>
  <lottie-animation-view
    [options]="iconAnimationConfig"
    (animCreated)="handleIcon($event)">
  </lottie-animation-view>
</div>

<div class="profile">
  <span [@profileTitle]="profileTitleState" class="profile-title" [innerHTML]="ending.phrase1"></span>
  <span [@profileArchetype]="profileArchetypeState" class="profile-archetype1" [innerHTML]="ending.phrase2"></span>
  <span [@profileArchetype]="profileArchetypeState" class="profile-archetype2" [innerHTML]="ending.phrase3"></span>
  <span [@profileArchetype]="profileArchetypeState" class="profile-archetype3" [innerHTML]="ending.phrase4"></span>

</div>

<div [@imageState]="imageState" class="profile-image">
  <img src="{{image}}" alt="result.name">
</div>

    <div [@googleGraphics]="googleGraphics" id="googleGraphics" class="graphics"></div>

     <div class="results">
       <span [@graphics]="graphics" class="results-line">O teu perfil é:</span>
       <span [@graphics]="graphics" class="results-model" [innerHTML]="result_graphic.model"></span>
       <span [@graphics]="graphics" class="results-title" [innerHTML]="result_graphic.title"></span>
       <span [@graphics]="graphics" class="results-line" [innerHTML]="result_graphic.line"></span>
       <div [@logoNuvi]="logoNuvi" class="logoNuvi">
         <lottie-animation-view
           [options]="logoAnimationConfig"
           (animCreated)="handleLogo($event)">
         </lottie-animation-view>
       </div>
       <span [@googleGraphics]="googleGraphics" class="progressMessage">Passa o rato por cima das barras para saberes as tuas percentagens.</span>
     </div>
