.question{
    font-family: 'canarobold';
    position: absolute;
    width: 260px;
    top: 240px;
    left: 30%;
    margin-left: -130px;
    text-align: left;
    color: white;
    font-size: 1.5rem;
    white-space: pre-wrap;
    
    @media (min-width: 1224px) and (max-width: 1366px)  {
        top: 300px;
        width: 900px;
        left: 150px;
        margin-left: 0;
        font-size: 1.6rem;
    }

    @media (min-width: 1367px) {
        font-size: 2rem;
        top: 440px;
        width: 900px;
        left: 300px;
        margin-left: 0;
    }

}

.circle{
    display: flex;
    position: absolute;
    height: 250%;
    width: 250%;
    left: 50%;
    top: 50%;
    margin-left: -960px;
    margin-top: -540px; 
    background: linear-gradient(135deg, #7e3087, #e5213c, #ee5c27, #e5213c, #7e3087);
}

.back-circle{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 300;
    clip-path:circle(40% at 90% 80%);
}
.front-circle{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #7e3087, #e5213c, #ee5c27, #e5213c, #7e3087);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 350;
    clip-path:circle(25% at 90% 80%);
}

.image-background {
    background-position: right;
    height: 100%;
    width: 100%;

    @media (min-width: 1224px) and (max-width: 1366px)  {
        background-size: 1000px;
    }

    @media (min-width: 1367px){
        background-size: 1600px; 
    }

}

.option {
    position: absolute;
    width: 260px;
    left: 50%;
    margin-left: -130px;
    color: white;
    font-size: 1rem;
    white-space: pre-wrap;
    cursor: pointer;
    transition: 0.5s ease-out;

    &:hover {
            transform: scale(1.1);
            transition: 0.5s ease-out;
    }

    &-first {
        top: 180px;
    }

    &-second {
        top: 340px
    }

    @media (min-width: 1224px) and (max-width: 1366px)  {
        width: 550px;
        left: 150px;
        margin-left: 0;
        font-size: 1.5rem;
        cursor: pointer;
    
        &:hover {
            transform: scale(1.1);
            transition: 0.5s ease-out;
       }

        &-first {
            top: 230px;
        }
    
        &-second {
            top: 400px
        }
    }

    @media (min-width: 1367px) {
        width: 650px;
        left: 300px;
        margin-left: 0;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: 0.5s ease-out;
        }

        &-first {
            top: 400px;
        }
    
        &-second {
            top: 570px
        }
    }

    &-select {
        position: absolute;
        font-family: 'canarobook_italic';
        width: 260px;
        top: 150px;
        left: 50%;
        margin-left: -130px;
        color: white;
        font-size: 1rem;
        opacity: 0;
        cursor: pointer;
        
        @media (min-width: 1224px) and (max-width: 1366px)  {
            width: 550px;
            top: 205px;
            left: 150px;
            margin-left: 0;
        }

        @media (min-width: 1367px)  {
            top: 360px;
            width: 550px;
            left: 300px;
            margin-left: 0;
        }
    
    }
      

}
