
.question{
    font-family: 'proxima_novasemibold';
    position: absolute;
    left: 2.5%;
    bottom: 10%;
    width: 17.5%;
    text-align: left;
    color: white;
    font-size: 1.5rem;
    white-space: pre-wrap;
    pointer-events: none;
    z-index: 260;

    @media (min-width: 1367px) {
        font-size: 2rem;
    }

}

.trapezoid{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 150;
    pointer-events: none;
}

.underImage{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #DE0048;
  pointer-events: none;
  z-index: 0;
}

.backImage{
   position: absolute;
   min-height: 100%;
   top: -1%;
   left: -1%;
   z-index: 250;
   @media (min-width: 1367px) {
     min-height: 80%;
     min-width: 80%;
     left: -1px;
     top: -80px;
   }

   @media (min-width: 1920px) {
     min-height: 80%;
     min-width: 80%;
     left: 0px;
     top: -20px;
   }
}

.arrowA{
    position: absolute;
    left: 66vw;
    top: 50vh;
    margin-left: -35vw;
    margin-top: -35vh;
    background-size: contain;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 10;

    @media (min-width: 1367px) {
      top: 55vh;
      left: 60vw;
    }
}
.arrowB{
    position: absolute;
    right: 105vw;
    top: 15vh;
    background-size: contain;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 10;

    @media (min-width: 1367px) {
      top: 20vh;
    }
}
.option1-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left:-10%;
    background-blend-mode: multiply;
    background-color: #e5213b96;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out;
    pointer-events: none;
    z-index: -1;
    &:hover {
        background-color: rgba(138, 137, 137, 0.452);
    }
    @media (min-width: 1367px) {
      width: 100%;
      left:0%;
    }
}

.option2-container{
    position: absolute;
    height: 150%;
    width: 150%;
    right: -80%;
    background-blend-mode: multiply;
    background-color: #e5213b96;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 50% 100%, 100% 100%, 100% 0);
    background-size: 60%;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out;
    pointer-events: none;
    z-index: 110;
    &:hover {
        background-color: rgba(138, 137, 137, 0.452);
    }
}
.option-first{
    position: absolute;
    text-align: left;
    width: 25%;
    top: 49%;
    left: 35%;
    color: white;
    font-family: 'proxima_nova_rgregular';
    font-size: 1.6rem;
    font-weight: bold;
    white-space: pre-wrap;
    text-shadow: (0px 0px 20px black);
    border-radius: 10%;
    pointer-events: none;

    @media (min-width: 1367px){
      top: 42.5%;
      left: 28%;
      width: 20%;
    }
}

.option-second{
    position: absolute;
    text-align: left;
    width: 20%;
    top: 32.5%;
    left: 24%;
    color: white;
    font-family: 'proxima_nova_rgregular';
    font-size: 1.6rem;
    font-weight: bold;
    white-space: pre-wrap;
    cursor: pointer;
    text-shadow: (0px 0px 20px black);
    border-radius: 10%;
    pointer-events: none;

    @media (min-width: 1367px){
      width: 15%;
      top: 28%;
      left: 25.5%;
    }
}
