<div class="underImage">
  <div [@option2polygon]="option2polygon" class="option2-container" id="option2" [style.background-image]="'url(' + image2 + ')'" (click)="selectOptionB(questionObject.options[1])">
    <div class="animation-option2-container">
      <div [@arrowBcontainer]="arrowBcontainer" class="arrowB">
          <lottie-animation-view
            [options]="arrowAnimationConfigB"
            (animCreated)="handleArrowB($event)">
          </lottie-animation-view>
      </div>
    </div>
    <div [@secondOption]="secondOptionState" class="option-second" [innerHtml]="questionObject.options[1].answer"></div>
  </div>

 <div [@option1polygon]="option1polygon"  class="option1-container" id="option1" [style.background-image]="'url(' + image1 + ')'" (click)="selectOptionA(questionObject.options[0])">
    <div class="animation-option1-container">
     <div [@arrowAcontainer]="arrowAcontainer" class="arrowA">
         <lottie-animation-view
           [options]="arrowAnimationConfigA"
           (animCreated)="handleArrowA($event)">
         </lottie-animation-view>
     </div>
    </div>
  <div [@firstOption]="firstOptionState" class="option-first" [innerHtml]="questionObject.options[0].answer"></div>
</div>

<div class="backImage">
    <lottie-animation-view
      [options]="trapezoidAnimationConfig"
      (animCreated)="handleTrapezoid($event)">
    </lottie-animation-view>
</div>

<span [@question]="questionState" class="question" [innerHtml]="questionObject.question"></span>
</div>
