.question{
    font-family: 'proxima_novasemibold';
    position: absolute;
    height: 10%;
    width: 80%;
    top: 10%;
    left: 50%;
    margin-left: -130px;
    text-align: left;
    color: white;
    white-space: pre-wrap;
    font-size: 1.2rem;
    z-index: 100;

    @media (min-width: 1224px) and (max-width: 1366px)  {
        top: 300px;
        width: 900px;
        left: 150px;
        margin-left: 0;
        font-size: 1.6rem;
    }

    @media (min-width: 1367px) {
        font-size: 2rem;
        top: 440px;
        width: 900px;
        left: 300px;
        margin-left: 0;
    }

}

.trapezoid{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    background: linear-gradient(135deg, #e5213c, #ee5c27);
}

.option {
    position: absolute;
    width: 80%;
    left: 40%;
    margin-left: -30%;
    color: white;
    font-size: 1.1rem;
    white-space: pre-wrap;
    cursor: pointer;
    transition: 0.2s ease-out;
    z-index: 100;

    &:hover {
        transform: scale(1.1);
        transition: 0.2s ease-out;
    }

    &-first {
        margin-top: 10%;
        margin-bottom: 10%;
        top: 30%;
    }

    &-second {
        margin-top: 10%;
        top: 50%
    }

    @media (min-width: 1224px) and (max-width: 1366px)  {
        width: 400px;
        left: 150px;
        margin-left: 0;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: 0.2s ease-out;
       }

        &-first {
            top: 230px;
        }

        &-second {
            top: 400px
        }
    }

    @media (min-width: 1367px) {
        width: 400px;
        left: 300px;
        margin-left: 0;
        // font-size: 2rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: 0.2s ease-out;
        }

        &-first {
            top: 400px;
        }

        &-second {
            top: 570px
        }
    }

    &-select {
        position: absolute;
        font-family: 'proxima_novaregular_italic';
        width: 260px;
        top: 150px;
        left: 50%;
        margin-left: -130px;
        color: white;
        font-size: 1rem;
        opacity: 0;
        cursor: pointer;

        @media (min-width: 1224px) and (max-width: 1366px)  {
            width: 550px;
            top: 205px;
            left: 150px;
            margin-left: 0;
        }

        @media (min-width: 1367px)  {
            top: 360px;
            width: 550px;
            left: 300px;
            margin-left: 0;
        }

    }


}
