/* You can add global styles to this file, and also import other style files */

@import url('assets/fonts/proxima_nova/stylesheet.css');
@import 'app/animations/gradient-bg.scss';

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    margin: 0;
    font-family: 'proxima_nova_rgregular';
    background-color: #e5213c;
}

.crop-container  {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.animation-container{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1920px;
    height: 1080px;
    margin-left: -960px;
    margin-top: -540px;
}

.separators{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1920px;
    height: 1080px;
    margin-left: -960px;
    margin-top: -540px;
    background-color: #EC1651

}

.snack-style{
  background-color: white;
  color: #e5213c;
  width: fit-content;
  
  button{
    background-color: #e5213c;
    color: white;
  }
}

.svg-ie{
    height: 1080px;
    min-height: 1080px;
}
