
<div class="trapezoid"></div>


<div class="animationSpliter" id="thisAnimation">
  <lottie-animation-view
    [options]="animationConfig"
    (animCreated)="handleAnimation($event)">
  </lottie-animation-view>
</div>
