.trapezoid{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    background: linear-gradient(135deg, #e5213c, #ee5c27);
}

.animationSpliter{
    position: absolute;
    height: 95vh;
    width: 100vw;
    left: 0vw;
    top: 0vh;
    display: flex;
    flex-direction: column;
    background-size: contain;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
