.trapezoid{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    background: linear-gradient(135deg, #e5213c, #ee5c27);
}

.questionText {
    position: absolute;
    color: white;
    top: 5%;
    left: 5%;
    width: 95%;
    margin-right: 5%;
    white-space: pre-wrap;
    font-family: 'proxima_nova_rgregular';
    display: block;
    font-size: 1.5rem;

    @media (min-width: 1224px) {
            position: absolute;
            color: white;
            top: 10%;
            left: 5%;
            width: 40%;
            margin-right: 5%;
            white-space: pre-wrap;
            font-family: 'proxima_nova_rgregular';
            display: block;
            font-size: 2rem;
    }
}
.question {
    position: absolute;
    color: white;
    right: -10%;
    top: 15%;
    width: 85%;
    height: 75%;
    margin-top: 10%;
    margin-right: 5%;
    white-space: pre-wrap;

    @media (min-width: 1224px) {
        position: absolute;
        color: white;
        right: -5%;
        top: 0%;
        width: 50%;
        height: 70%;
        margin-top: 10%;
        white-space: pre-wrap;
    }
    &-option{
        font-family: 'proxima_novaregular_italic';
        background-color: white;
        opacity: 0;
        color: #e5213c;
        font-size: 1rem;
        font-weight: bold;
        padding: 2% 10% 2% 2%;
        display: inline-block;
        border-radius: 0 10px;
        cursor: pointer;
        transition: 600ms ease-in;

        &:hover{
            transform: scale(1.1);
            transition: 400ms ease-out;
        }

        @media (min-width: 1224px) {
            font-family: 'proxima_novaregular_italic';
            background-color: white;
            color: #e5213c;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 2% 4% 2% 2%;
            width: 100%;
            border-radius: 0 10px;
            cursor: pointer;
            transition: 600ms ease-in;
        }
    }

    &-first{
        font-size: 2rem;
    }

    &-second{
        font-size: 2rem;
    }
    &-third{
        font-size: 2rem;
    }
    &forth{
        font-size: 2rem;
    }
    &-fifth{
        font-size: 2rem;
    }

}

.option-select {
    font-family: 'proxima_novaregular_italic';
    color: white;
    font-size: 0.8rem;

    @media (min-width: 1224px) {
        font-size: 1rem;
    }
}
