

<div class="trapezoid"></div>

  <span [@question]="questionState" class="questionText" [innerHtml]="questionObject.question">
  </span>


<div class="question" #optionsContainer>
  <span *ngIf="firstAnswer.enabled"
    (click)="selectOption(firstAnswer.options, 'first')"
    [@firstOption]="optionState.first"
    class="question-option"
    [innerHtml]="firstAnswer.options.answer">
  </span>
  <span *ngIf="secondAnswer.enabled"
    (click)="selectOption(secondAnswer.options, 'second')"
    [@secondOption]="optionState.second"
    class="question-option"
    [innerHtml]="secondAnswer.options.answer">
  </span>
  <span *ngIf="thirdAnswer.enabled"
    (click)="selectOption(thirdAnswer.options, 'third')"
    [@thirdOption]="optionState.third"
    class="question-option"
    [innerHtml]="thirdAnswer.options.answer">
  </span>
</div>
